// FONTS //

body{
    font-family: 'Roboto', sans-serif;
}

.footer__links--logo, .menu__title h1{
    font-family: 'Shrikhand', cursive;
  }

a {
    text-decoration: none;
    color: #000;
    
    :hover{
        cursor: pointer;
    }
}



// Base Style // 

h1{
    font-weight: 700;
}

img {
    max-width: 100%;
}

section{
    margin-bottom: 3rem;
    padding: 3rem 0;
}


.container{
  max-width: 90%;
  margin: 0 auto;
}

button:hover, .btn:hover{
  cursor: pointer;
}

button{
  border: none;
  font-size: 30px;

  
  .heart-active{
    -webkit-text-stroke: 2px #000;
    color: transparent;
    font-size: 30px;
    
    :hover{
      cursor: pointer;
    }
  }
}

.heart-active{
  -webkit-text-stroke: 2px #000;
  color: transparent;
  font-size: 30px;
  border: none;

  &:hover{
    background-image: -webkit-linear-gradient(1deg, rgba(147,86,220,1) 0%, rgba(150,86,220,1) 41%, rgba(255,121,218,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: initial  !important;
    font-size: 32px;
    cursor: pointer;
  
    transition: background-image ease-in-out 500ms;
    
  
      @media screen and (max-width: 768px){
        font-size: 30px;
      }
  }
}



.btn {
  border: none;
  background:linear-gradient(1deg, #9356DC 30%, #FF79DA 100%); 
  color: #fff;
  padding: 14px 20px;
  border-radius: 25px;
  font-size: 19px;

  &:hover{
    box-shadow: 0px 14px 36px 6px rgba(150, 150, 150, 0.45);
    filter: brightness(1.2);
    transition: all ease-in-out 5ms;
  }

}

.elipssis{
  text-overflow: ellipsis !important;
  overflow: hidden;
  white-space: nowrap;
}





// FOOTER //

footer{
    background-color: #353535;
    padding: 1rem 0 3rem;
    min-width: 100%;
    max-height: 6rem;
  
  
    .footer__links {
      display: flex;
      flex-direction: column;
  
      a{
        color: #fff;
        margin-bottom: 8px;
        font-weight: 400;
      }
  
      .footer__links--logo{
        font-size: 18px;
        margin-bottom: 1rem;
      }
  
      .footer__links--link{
        display: flex;
  
        i{
          width: 30px;
        }
      }
    }
  
    @media screen and (min-width: 768px) {
      padding: 2rem 0 4rem;
      max-height: 12rem;
  
      .footer__links {
        align-items: center;
  
  
        .footer__links--logo{
          font-size: 2rem;
        }
  
        .footer__links--link{
          font-size: 20px;
          margin-bottom: 2rem;
        }
      } 
    }
  }

.home__section--title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        font-size: 2rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 3rem;
        font-size: 2.3rem;
    }
    
}