// FONTS //

body{
    font-family: 'Roboto', sans-serif;
}

.footer__links--logo, .menu__title h1{
    font-family: 'Shrikhand', cursive;
  }

a {
    text-decoration: none;
    color: #000;
    
    :hover{
        cursor: pointer;
    }
}

// Base Style // 

h1{
    font-weight: 700;
}

img {
    max-width: 100%;
}

section{
    margin-bottom: 3rem;
    padding: 3rem 0;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.btn {
    border: none;
    background:linear-gradient(1deg, #9356DC 30%, #FF79DA 100%); 
    color: #fff;
    padding: 14px 20px;
    border-radius: 25px;
    font-size: 19px;

  }

button:hover, .btn:hover{
    cursor: pointer;
}

.home__section--title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        font-size: 2rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 3rem;
        font-size: 2.3rem;
    }
    
}