// ANIMATION //
/*move up plat menu */
.menu__plat:nth-child(3){
    animation-delay: .5s !important;
}
.menu__plat:nth-child(4){
    animation-delay: 1.0s !important;
}
.menu__plat:nth-child(5){
    animation-delay: 1.5s !important;
}


@keyframes move-up{
    0%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}


@keyframes reduce-size{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(30px);
    }
}

// LOADING //
#loading{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    z-index: 4;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    animation: loading 2s ease-in-out forwards ;

    img{
        max-width: 100px;
    }
}

@keyframes loading{
    from{
        visibility: visible

    }
    to{
       visibility: hidden ;

    }
}
