// ANIMATION //
/*move up plat menu */
.menu__plat:nth-child(3){
    animation-delay: .5s !important;
}
.menu__plat:nth-child(4){
    animation-delay: 1.0s !important;
}
.menu__plat:nth-child(5){
    animation-delay: 1.5s !important;
}


@keyframes move-up{
    0%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

/* validate */
@keyframes right-to-left-in{
    from{
        transform: translateX(70px);
        display: none;
        
    }

    to{
        transform:translateX(10px);
        display: block;
        
    }
}

@keyframes right-to-left-out{
    from{
        transform:translateX(10px);
        display: block;
        
    }

    to{
        transform: translateX(70px);
        display: none;
    }
}


/* rotate-icon */
@keyframes rotate-icon{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}


@keyframes reduce-size{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(30px);
    }
}