@import './animation';

// PAGES MENU //

#menu__header{
  
    >.container{
     max-width: 400px;
 
     .header__logo{
       max-width: 400px;
       padding-top: 1rem;
       display: flex;
       justify-content: center;
       position: relative;
 
       >.header__logo--link{
         font-size: 27px;
         position: absolute;
         right: 190px;
       }
 
       :nth-child(2){
         max-width: 180px;
         position: static;
       }
     }
   }

   @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 1rem 0;

   }

   @media screen and (min-width: 1024px) {
    padding: 2rem 0;

    >.container{
        max-width: 900px;

        .header__logo{
            max-width: 900px;

            >.header__logo--link{
                font-size: 40px;
                right: 300px;
                top: 20px;
              }
        
              :nth-child(2){
                max-width: 280px;

              }
        }
    }
   }
}
 
 
#main__menu{

    background-color: #f7f7f7;

    #landing_image{
        padding: 0;
        margin-bottom: 0;
    }

    #menu{
        position: relative;
        top: -60px;
        left: 0;
        border-radius: 30px 30px 0 0;
        background-color: #f7f7f7;
        width: 100%;
        height: auto;
        padding: 2rem 0 3rem;

        .menu__title{
        display: flex;
        font-size: 30px;
        justify-content: space-between;
        margin-bottom: 1rem;
        align-items: center;

            h1{
                letter-spacing: 2px;
            }

            i{
                padding-right: 5px;

            }
        }

        .menu__wrapper{
        margin: 2rem 0;

            .menu__wrapper--title{
                text-transform: uppercase;
                font-size: 18px;
                padding-bottom: 10px;
                position: relative;
                max-width: 200px;
                z-index: 1;
                margin-bottom: 8px;


                :before{
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 5px;
                width: 24%;
                border-bottom: 5px solid  $third;
                }
            }

            .menu__plat{
                cursor: pointer;
                background-color: #fff;
                margin: 1rem 0;
                border-radius: 20px;
                display: flex;
                box-shadow: 1px 3px 15px 1px rgba(135,135,135,0.6);
                opacity: 0;
                

                overflow: hidden;
                animation: move-up 1s ease-in forwards;


                .menu__plat--title { 
                    width: 100%;
                    box-sizing: border-box;
                    padding: 10px 14px;

                    h3{
                        font-weight: 700;
                        font-size: 20px;
                        margin-bottom: 5px;

                    }              
                    
                }

                .menu__plat--text{
                display: flex;
                justify-content: space-between;
                align-items: center;

                }

                .menu__plat--price{
                padding-left: 10px;
                font-size: 18px;
                font-weight: 700;
                }

                .menu__plat--validate{
                width: 0px;
                overflow: hidden;
                transition: width 500ms;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background-color: $third;
                border-radius: 0 20px 15px 0;

                    i{
                        color: $third;
                        padding: 12px;
                        border-radius: 20px;
                        background-color: #fff;
                        font-size: 14px;
                        transition: transform 500ms ease-in-out;
                    }
                }


                :hover + .menu__plat--validate{
                width: 20%;

                    i{
                        transform: rotate(360deg);

                        // animation: rotate-icon .6s ease-in forwards;
                        
                    }

                }

            }
    

        }

        .menu__button{
            text-align: center;
        }
    }


    

    @media screen and (min-width: 768px) {
        #menu{
            padding-top: 3rem;

            >.container{
                max-width: 700px;

                .menu__title{
                    font-size: 3rem;
                    margin-bottom: 3rem;
                    justify-content: space-evenly;

                    .heart-active{
                        font-size: 32px;
                    }
                }
    
                .menu__wrapper{
                    margin: 4rem auto;
                    max-width: 600px;
    
                    .menu__wrapper--title{
                        font-size: 22px;
                        padding-bottom: 12px;
                        max-width: 225px;
                        margin-bottom: 2rem;
                    }

                    .menu__plat{
                        margin: 2rem 0;

                        .menu__plat--title{
                            padding: 16px 20px;

                            h3{
                                font-size: 22px;
                            }

                             > p{
                                font-size: 18px;
                            }
                        }

                    }
                }
            }

            .menu__button .btn{
                font-size: 23px;
                padding: 15px 25px;
            }

        }
    }

}

@media screen and (min-width: 1024px) {
    #main__menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f7f7f7;
        

        #landing_image{
            max-width: 100%;
            max-height: 400px;

        }

        #menu{
            position: static;
            border-radius: 0;

            >.container{
                max-width: 1200px;

                .menu__title{
                    justify-content: center;

                    h1{
                        margin-right: 2rem;
                    }

                    .heart-active{
                        font-size: 3rem;
                    }

                    .heart-active:active{
                        font-size: 3rem;
                    }
                    .heart-active:hover{
                        cursor: pointer;
                    }
                }

                .menu__wrapper{
                    max-width: 800px;

                    .menu__wrapper--title{
                        font-size: 26px;
                    }

                    .menu__plat{
                        margin: 3rem 0;

                        .menu__plat--title{
                            padding: 18px 26px;

                             h3{
                                font-size: 28px;
                            }
    
                            .menu__plat--text p{
                                 font-size: 23px;
                            }
                        }

                    }
                }

                .menu__button .btn{
                    font-size: 26px;
                    padding: 12px 30px;
                }
            }
        }
    }
}



